# Advanced Spark

Сегодня пройдемся по каким-то аспектам фреймворка Spark, которые не затрагивали в предыдущий раз, но которые могут оказаться очень полезными.

Датасет на сегодня - данные с сайта Airbnb

In [1]:
import pandas as pd
pd.set_option('display.max_columns', 500)

In [1]:
! hdfs dfs -mkdir -p /user/airbnb

Скачаем датасет из https://public.opendatasoft.com/explore/dataset/airbnb-listings/information

Можно также сказать с нашего зеркала - https://storage.yandexcloud.net/lsml-kosmos/mirror/airbnb-data.csv

In [4]:
! wget 'https://public.opendatasoft.com/api/explore/v2.1/catalog/datasets/airbnb-listings/exports/csv?lang=en&timezone=Europe%2FMoscow&use_labels=true&csv_separator=%3B' -O airbnb.csv

--2023-01-14 17:25:34--  https://public.opendatasoft.com/api/explore/v2.1/catalog/datasets/airbnb-listings/exports/csv?lang=en&timezone=Europe%2FMoscow&use_labels=true&csv_separator=%3B
Resolving public.opendatasoft.com (public.opendatasoft.com)... 34.248.20.69, 34.249.199.226
Connecting to public.opendatasoft.com (public.opendatasoft.com)|34.248.20.69|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘airbnb.csv’

airbnb.csv              [      <=>           ]   1.80G  3.32MB/s    in 9m 26s

2023-01-14 17:35:01 (3.26 MB/s) - ‘airbnb.csv’ saved [1935924728]

In [2]:
! file airbnb.csv

airbnb.csv: UTF-8 Unicode text, with very long lines, with CRLF, CR, LF line terminators

In [7]:
! hdfs dfs -put airbnb.csv /user/airbnb/data.csv

In [8]:
! hdfs dfs -ls -h /user/airbnb

Found 1 items
-rw-r--r--   1 ubuntu hadoop      1.8 G 2023-01-14 17:37 /user/airbnb/data.csv

In [2]:
import findspark
findspark.init()

In [3]:
import pyspark
sc = pyspark.SparkContext(appName="lsml-app-1")

In [4]:
from pyspark.sql import SparkSession, Row

In [5]:
se = SparkSession(sc)

In [16]:
data = se.read.option("mode", "DROPMALFORMED").option('sep', ';').csv("/user/airbnb/data.csv", header=True, inferSchema=True)

In [17]:
data.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Listing Url: string (nullable = true)
 |-- Scrape ID: string (nullable = true)
 |-- Last Scraped: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Summary: string (nullable = true)
 |-- Space: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Experiences Offered: string (nullable = true)
 |-- Neighborhood Overview: string (nullable = true)
 |-- Notes: string (nullable = true)
 |-- Transit: string (nullable = true)
 |-- Access: string (nullable = true)
 |-- Interaction: string (nullable = true)
 |-- House Rules: string (nullable = true)
 |-- Thumbnail Url: string (nullable = true)
 |-- Medium Url: string (nullable = true)
 |-- Picture Url: string (nullable = true)
 |-- XL Picture Url: string (nullable = true)
 |-- Host ID: string (nullable = true)
 |-- Host URL: string (nullable = true)
 |-- Host Name: string (nullable = true)
 |-- Host Since: string (nullable = true)
 |-- Host Location: string (nullable = true)
 |-- Host About: string (nullable = true)
 |-- Host Response Time: string (nullable = true)
 |-- Host Response Rate: string (nullable = true)
 |-- Host Acceptance Rate: string (nullable = true)
 |-- Host Thumbnail Url: string (nullable = true)
 |-- Host Picture Url: string (nullable = true)
 |-- Host Neighbourhood: string (nullable = true)
 |-- Host Listings Count: string (nullable = true)
 |-- Host Total Listings Count: string (nullable = true)
 |-- Host Verifications: string (nullable = true)
 |-- Street: string (nullable = true)
 |-- Neighbourhood: string (nullable = true)
 |-- Neighbourhood Cleansed: string (nullable = true)
 |-- Neighbourhood Group Cleansed: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Market: string (nullable = true)
 |-- Smart Location: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Property Type: string (nullable = true)
 |-- Room Type: string (nullable = true)
 |-- Accommodates: string (nullable = true)
 |-- Bathrooms: string (nullable = true)
 |-- Bedrooms: string (nullable = true)
 |-- Beds: string (nullable = true)
 |-- Bed Type: string (nullable = true)
 |-- Amenities: string (nullable = true)
 |-- Square Feet: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Weekly Price: string (nullable = true)
 |-- Monthly Price: string (nullable = true)
 |-- Security Deposit: string (nullable = true)
 |-- Cleaning Fee: string (nullable = true)
 |-- Guests Included: string (nullable = true)
 |-- Extra People: string (nullable = true)
 |-- Minimum Nights: string (nullable = true)
 |-- Maximum Nights: string (nullable = true)
 |-- Calendar Updated: string (nullable = true)
 |-- Has Availability: string (nullable = true)
 |-- Availability 30: string (nullable = true)
 |-- Availability 60: string (nullable = true)
 |-- Availability 90: string (nullable = true)
 |-- Availability 365: string (nullable = true)
 |-- Calendar last Scraped: string (nullable = true)
 |-- Number of Reviews: string (nullable = true)
 |-- First Review: string (nullable = true)
 |-- Last Review: string (nullable = true)
 |-- Review Scores Rating: string (nullable = true)
 |-- Review Scores Accuracy: string (nullable = true)
 |-- Review Scores Cleanliness: string (nullable = true)
 |-- Review Scores Checkin: string (nullable = true)
 |-- Review Scores Communication: string (nullable = true)
 |-- Review Scores Location: string (nullable = true)
 |-- Review Scores Value: string (nullable = true)
 |-- License: string (nullable = true)
 |-- Jurisdiction Names: string (nullable = true)
 |-- Cancellation Policy: string (nullable = true)
 |-- Calculated host listings count: string (nullable = true)
 |-- Reviews per Month: string (nullable = true)
 |-- Geolocation: string (nullable = true)
 |-- Features: string (nullable = true)

In [23]:
data.limit(4).toPandas()

,ID,Listing Url,Scrape ID,Last Scraped,Name,Summary,Space,Description,Experiences Offered,Neighborhood Overview,Notes,Transit,Access,Interaction,House Rules,Thumbnail Url,Medium Url,Picture Url,XL Picture Url,Host ID,Host URL,Host Name,Host Since,Host Location,Host About,Host Response Time,Host Response Rate,Host Acceptance Rate,Host Thumbnail Url,Host Picture Url,Host Neighbourhood,Host Listings Count,Host Total Listings Count,Host Verifications,Street,Neighbourhood,Neighbourhood Cleansed,Neighbourhood Group Cleansed,City,State,Zipcode,Market,Smart Location,Country Code,Country,Latitude,Longitude,Property Type,Room Type,Accommodates,Bathrooms,Bedrooms,Beds,Bed Type,Amenities,Square Feet,Price,Weekly Price,Monthly Price,Security Deposit,Cleaning Fee,Guests Included,Extra People,Minimum Nights,Maximum Nights,Calendar Updated,Has Availability,Availability 30,Availability 60,Availability 90,Availability 365,Calendar last Scraped,Number of Reviews,First Review,Last Review,Review Scores Rating,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,License,Jurisdiction Names,Cancellation Policy,Calculated host listings count,Reviews per Month,Geolocation,Features
0,8264596,https://www.airbnb.com/rooms/8264596,20170402075052,2017-04-02,Cosy apartment across Vondelpark,This central located apartment will make you f...,None,This central located apartment will make you f...,none,None,None,None,None,None,None,https://a0.muscache.com/im/pictures/105168520/...,https://a0.muscache.com/im/pictures/105168520/...,https://public.opendatasoft.com/api/explore/v2...,https://a0.muscache.com/im/pictures/105168520/...,23669273,https://www.airbnb.com/users/show/23669273,Matthieu,2014-11-12,"Amsterdam, North Holland, The Netherlands",None,None,None,None,https://a0.muscache.com/im/users/23669273/prof...,https://a0.muscache.com/im/users/23669273/prof...,Oud-West,1,1,"email,phone,facebook,reviews,jumio","Oud-West, Amsterdam, Noord-Holland 1054, Nethe...",Oud-West,De Baarsjes - Oud-West,None,Amsterdam,Noord-Holland,1054,Amsterdam,"Amsterdam, Netherlands",NL,Netherlands,52.361943953804776,4.866686522141489,Apartment,Entire home/apt,4,1.0,2,2,Real Bed,"TV,Cable TV,Internet,Wireless Internet,Kitchen...",None,125,600,None,None,None,1,0,4,1125,10 months ago,None,0,0,0,0,2017-04-02,1,2015-09-22,2015-09-22,100,10,10,10,10,10,10,None,Amsterdam,flexible,1,0.05,"52.361943953804776, 4.866686522141489","Host Has Profile Pic,Host Identity Verified,Is..."
1,2180729,https://www.airbnb.com/rooms/2180729,20170402075052,2017-04-02,Spacious City Apartment Oud-West,Living like an Amsterdam resident in this ligh...,There are 2 bedrooms each with a double bed. I...,Living like an Amsterdam resident in this ligh...,none,The 85 m2 apartment is located on a quiet stre...,Do not hesitate to contact us with your questi...,A few important spots in the city: - van Gogh ...,"A Wi-Fi connection, cable TV/DVD and central h...",When we are present you can only rent the top ...,"Please pay attention to the neighbors, the hou...",None,None,https://public.opendatasoft.com/api/explore/v2...,None,9238680,https://www.airbnb.com/users/show/9238680,Bas,2013-10-05,"Amsterdam, North Holland, The Netherlands",None,within a day,100,None,https://a0.muscache.com/im/users/9238680/profi...,https://a0.muscache.com/im/users/9238680/profi...,Oud-West,1,1,"email,phone,reviews,jumio","Oud-West, Amsterdam, Noord-Holland 1052 RT, Ne...",Oud-West,De Baarsjes - Oud-West,None,Amsterdam,Noord-Holland,1052 RT,Amsterdam,"Amsterdam, Netherlands",NL,Netherlands,52.37014616115532,4.866281767968382,Apartment,Entire home/apt,4,1.0,2,4,Real Bed,"TV,Cable TV,Internet,Wireless Internet,Kitchen...",None,130,None,None,100,45,2,25,3,30,3 weeks ago,None,0,0,0,0,2017-04-02,22,2014-05-12,2016-07-19,97,10,9,10,9,9,9,None,Amsterdam,flexible,1,0.62,"52.37014616115532, 4.866281767968382","Host Has Profile Pic,Host Identity Verified,Is..."
2,14463171,https://www.airbnb.com/rooms/14463171,20170402075052,2017-04-02,Cosy Studio Apartment Center Amsterdam,Studio Apartment Centre Amsterdam Perfect stud...,None,Studio Apartment Centre Amsterdam Perfect stud...,none,None,None,None,None,None,- Respect the neghbour,None,None,https://public.opendatasoft.com/api/explore/v2...,None,89112644,https://www.airbnb.com/users/show/89112644,Pablo,2016-08-10,"Amsterdam, North Holland, Netherlands",None,within a day,100,None,https://a0.muscache.com/im/pictures/47a93f1a-2...,https://a0.muscache.com/im/pictures/47a93f1a-2...,None,1,1,"email,phone,reviews","Amsterdam, Noord-Holland 1053, Netherlands",None,De Baarsjes - Oud-West,None,Amsterdam,Noord-Holland,1053,Amsterdam,"Amsterdam, Netherlands",NL,Netherlands,52.368817829014425,4.871249476925455,Apartment,Entire home/apt,2,1.0,0,1,Real Bed,"TV,Wireless Internet,Kitchen,Heating,Smoke det...",None,80,None,None,100,25,1,0,2,1125,4 days ago,None,2,21,51,326,2017-04-02,16,2016-08-11,2017-03-06,78,8,8,8,8,9,9,None,Amsterdam,moderate,1,2.04,"52.368817829014425, 4.871249476925455",Host Has Profile Pic
3,13932749,https://www.airbnb.com/rooms/13932749,20170402075052,2017-04-02,Spacious apt with sunny balcony,This beautiful 80m2 apartment has a huge livin...,"The huge living room and open kitchen, make th...",This beautiful 80m2 apartment has a huge livin...,none,"Amsterdam West is a colorful, bustling and up...",Please note that though there are parking spot...,With just a 5 to 10 minute bike ride to most t...,"You will have full use of the kitchen, living ...",None,"You will find my place very welcoming, clean a...",None,None,https://public.opendatasoft.com/api/explore/v2...,None,59269534,https://www.airbnb.com/users/show/59269534,Nicoline,2016-02-18,"Amsterdam, North Holland, Netherlands",None,within a day,100,None,https://a0.muscache.com/im/pictures/e7d7708a-9...,https://a0.muscache.com/im/pictures/e7d7708a-9...,None,1,1,"email,phone,facebook,reviews,jumio,government_id","Amsterdam, NH 1057 HK, Netherlands",None,De Baarsjes - Oud-West,None,Amsterdam,NH,1057 HK,Amsterdam,"Amsterdam, Netherlands",NL,Netherlands,52.36949764400226,4.859321434670662,Apartment,Entire home/apt,2,1.0,1,1,Real Bed,"TV,Wireless Internet,Kitchen,Heating,Washer,Fi...",None,150,None,None,None,15,1,0,1,1125,yesterday,None,7,37,67,342,2017-04-02,13,2016-07-16,2017-03-26,97,10,10,10,10,9,10,None,Amsterdam,strict,1,1.49,"52.36949764400226, 4.859321434670662","Host Is Superhost,Host Has Profile Pic,Host Id..."

#### Улучшаем формат записи

Сейчас мы храним записи в сыром формате в виде просто строк. Такой формат удобен для чтения человеков, однако машине приходится прикладывать усилия, чтобы разобрать такой формат.

Существует ряд форматов, поддерживаемых в Spark, которые гораздо лучше подходят для обработки. Один из таких форматов - Parquet. Подробнее можно почитать про него на официальном сайте - https://parquet.apache.org/

In [19]:
%%time

data.count()

CPU times: user 1.77 ms, sys: 326 µs, total: 2.09 ms
Wall time: 4.46 s

914210

Посчитаем например среднее квадрата значения в колонке price

In [27]:
%%time

data.rdd.map(lambda x: float(x.Price or 0.0) ** 2).mean()

CPU times: user 15 ms, sys: 0 ns, total: 15 ms
Wall time: 32.4 s

42017.684924093235

~32 секунды. Пробуем сконвертировать в паркет.

In [28]:
! hdfs dfs -rm -r /user/airbnb/parquet
! hdfs dfs -mkdir -p /user/airbnb/parquet

rm: `/user/airbnb/parquet': No such file or directory

In [33]:
for column in data.columns:
    data = data.withColumnRenamed(column, column.lower().replace(' ', '_'))

In [34]:
data.write.parquet("/user/airbnb/parquet/data.parquet")

In [7]:
data_parquet = se.read.parquet("/user/airbnb/parquet/data.parquet")

In [8]:
data_parquet.printSchema()

root
 |-- id: string (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- scrape_id: string (nullable = true)
 |-- last_scraped: string (nullable = true)
 |-- name: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- space: string (nullable = true)
 |-- description: string (nullable = true)
 |-- experiences_offered: string (nullable = true)
 |-- neighborhood_overview: string (nullable = true)
 |-- notes: string (nullable = true)
 |-- transit: string (nullable = true)
 |-- access: string (nullable = true)
 |-- interaction: string (nullable = true)
 |-- house_rules: string (nullable = true)
 |-- thumbnail_url: string (nullable = true)
 |-- medium_url: string (nullable = true)
 |-- picture_url: string (nullable = true)
 |-- xl_picture_url: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_url: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_since: string (nullable = true)
 |-- host_location: string (nullable = true)
 |-- host_about: string (nullable = true)
 |-- host_response_time: string (nullable = true)
 |-- host_response_rate: string (nullable = true)
 |-- host_acceptance_rate: string (nullable = true)
 |-- host_thumbnail_url: string (nullable = true)
 |-- host_picture_url: string (nullable = true)
 |-- host_neighbourhood: string (nullable = true)
 |-- host_listings_count: string (nullable = true)
 |-- host_total_listings_count: string (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- street: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- market: string (nullable = true)
 |-- smart_location: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- country: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: string (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- beds: string (nullable = true)
 |-- bed_type: string (nullable = true)
 |-- amenities: string (nullable = true)
 |-- square_feet: string (nullable = true)
 |-- price: string (nullable = true)
 |-- weekly_price: string (nullable = true)
 |-- monthly_price: string (nullable = true)
 |-- security_deposit: string (nullable = true)
 |-- cleaning_fee: string (nullable = true)
 |-- guests_included: string (nullable = true)
 |-- extra_people: string (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- maximum_nights: string (nullable = true)
 |-- calendar_updated: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: string (nullable = true)
 |-- availability_60: string (nullable = true)
 |-- availability_90: string (nullable = true)
 |-- availability_365: string (nullable = true)
 |-- calendar_last_scraped: string (nullable = true)
 |-- number_of_reviews: string (nullable = true)
 |-- first_review: string (nullable = true)
 |-- last_review: string (nullable = true)
 |-- review_scores_rating: string (nullable = true)
 |-- review_scores_accuracy: string (nullable = true)
 |-- review_scores_cleanliness: string (nullable = true)
 |-- review_scores_checkin: string (nullable = true)
 |-- review_scores_communication: string (nullable = true)
 |-- review_scores_location: string (nullable = true)
 |-- review_scores_value: string (nullable = true)
 |-- license: string (nullable = true)
 |-- jurisdiction_names: string (nullable = true)
 |-- cancellation_policy: string (nullable = true)
 |-- calculated_host_listings_count: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)
 |-- geolocation: string (nullable = true)
 |-- features: string (nullable = true)

Попробуем повторить запрос выше.

In [9]:
%%time

data_parquet.rdd.map(lambda x: float(x.price or 0) ** 2).mean()

CPU times: user 13.5 ms, sys: 4.32 ms, total: 17.8 ms
Wall time: 41.7 s

42017.68492409326

~26 секунд! Не фантастика, но 10 секунд сэкономили.

In [10]:
data = data_parquet

In [11]:
data.registerTempTable("airbnb")

#### Посмотрим еще раз на таблицу

In [12]:
data.limit(4).toPandas()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,cancellation_policy,calculated_host_listings_count,reviews_per_month,geolocation,features
0,761378,https://www.airbnb.com/rooms/761378,20170404145355,2017-04-06,1 private bedroom (25m²) in a parisian appartment,None,"Location: Paris Arrondissement 8, Paris, Ile-d...","Location: Paris Arrondissement 8, Paris, Ile-d...",none,None,...,None,None,None,None,Paris,flexible,1,None,"48.87822120123633, 2.323067504549647","Host Has Profile Pic,Is Location Exact"
1,10600490,https://www.airbnb.com/rooms/10600490,20170404145355,2017-04-06,"Near to Champs Elysées , 200 m²","A few meters from Champs Elysees, very nice re...",None,"A few meters from Champs Elysees, very nice re...",none,None,...,10,10,6,None,Paris,strict,1,0.16,"48.872101253444285, 2.3094301914142195","Host Has Profile Pic,Is Location Exact,Instant..."
2,7490732,https://www.airbnb.com/rooms/7490732,20170404145355,2017-04-05,Cosy appartment at Champs-Elysees,One bedroom 50m2 cosy appartment at Champs Ely...,A 50m² appartment on the 6th floor (with a lif...,One bedroom 50m2 cosy appartment at Champs Ely...,none,The famous Champs Elysees avenue is just aroun...,...,10,10,10,None,Paris,strict,1,2.13,"48.869850206500956, 2.310182986403705","Host Is Superhost,Host Has Profile Pic,Host Id..."
3,15097313,https://www.airbnb.com/rooms/15097313,20170404145355,2017-04-05,Quiet apartment in the Heart of Paris,"L'appartement (70 m²) est au cœur de Paris, à ...",Un appartement refait à neuf très récemment. I...,"L'appartement (70 m²) est au cœur de Paris, à ...",none,"A 2 pas des Champs Elysées, où bat le cœur de ...",...,10,10,10,None,Paris,moderate,1,1.45,"48.86832315709884, 2.3028395028763975","Host Has Profile Pic,Is Location Exact,Instant..."

В SQL есть готовые функции для манипуляции с данными. Весь список можно найти здесь - https://spark.apache.org/docs/2.3.0/api/sql/index.html . Конкретно сейчас воспользуемся split, которая превращает строку в массив строк, разбивая ее по указанному символу.

In [13]:
se.sql("""
    SELECT id, split(amenities, ',') as amenities
    FROM airbnb
    LIMIT 10
""").toPandas()

         id                                          amenities
0    761378  [TV, Wireless Internet, Elevator in building, ...
1  10600490  [TV, Cable TV, Internet, Wireless Internet, Ki...
2   7490732  [TV, Wireless Internet, Kitchen, Elevator in b...
3  15097313  [TV, Cable TV, Internet, Wireless Internet, Ki...
4   6987332  [Internet, Wireless Internet, Kitchen, Smoking...
5   9340539  [Cable TV, Internet, Wireless Internet, Kitche...
6   6064355  [TV, Internet, Wireless Internet, Kitchen, Hea...
7  13794754  [TV, Cable TV, Internet, Wireless Internet, Ai...
8   6371225  [TV, Internet, Wireless Internet, Kitchen, Hea...
9   3495940  [TV, Cable TV, Internet, Wireless Internet, Ki...

`explode` распупочивает список в отдельные записи в таблице

In [14]:
se.sql("""
    SELECT id, explode(split(amenities, ',')) as amenities
    FROM airbnb
    LIMIT 10
""").toPandas()

         id                 amenities
0    761378                        TV
1    761378         Wireless Internet
2    761378      Elevator in building
3    761378  Buzzer/wireless intercom
4  10600490                        TV
5  10600490                  Cable TV
6  10600490                  Internet
7  10600490         Wireless Internet
8  10600490                   Kitchen
9  10600490                 Breakfast

Чтож, давайте немного позанимается машинным обучением. Задача будет простая и понятная - предсказываем цену для квартиры.

Давайте придумывать признаки

In [15]:
se.sql("""
SELECT (cast(now() as long) - cast(cast(host_since as timestamp) as long)) / (60 * 60 * 24) as f_host_for
FROM airbnb
LIMIT 10
""").toPandas()

   f_host_for
0  3728.81059
1  2556.81059
2  2743.81059
3  2310.81059
4  2999.81059
5  3260.81059
6  3200.81059
7  3843.81059
8  2804.81059
9  3736.81059

In [16]:
se.sql("""
SELECT cast(host_response_rate as int) as f_host_response_rate, cast(host_acceptance_rate as int) as f_host_acceptance_rate, cast(host_total_listings_count as int) as f_host_total_listings_count
FROM airbnb
LIMIT 10
""").toPandas()

   f_host_response_rate  f_host_acceptance_rate  f_host_total_listings_count
0                   NaN                     NaN                            1
1                  80.0                     NaN                            1
2                 100.0                     NaN                            1
3                 100.0                     NaN                            1
4                   NaN                     NaN                            1
5                  98.0                     NaN                           16
6                   NaN                     NaN                            2
7                 100.0                     NaN                           95
8                   NaN                     NaN                            1
9                  98.0                     NaN                           71

In [17]:
se.sql("""
SELECT size(split(host_verifications, ',')) as f_num_of_ver
FROM airbnb
LIMIT 10
""").toPandas()

   f_num_of_ver
0             2
1             3
2             4
3             3
4             4
5             6
6             3
7             5
8             3
9             5

#### Used defined functions

Все числа было бы неплохо привести к нормальному виду. 
Делать это чисто из SQL достаточно непросто, поэтому можно попробовать заиспользовать питоновский код прямо в SQL

In [18]:
def to_number(raw_value):
    try:
        return float(raw_value)
    except:
        return 0.0

In [19]:
se.udf.register("to_number", to_number, "float")

Соберем в одну табличку с признаками

In [20]:
se.sql("""
SELECT id, 
       (cast(now() as long) - cast(cast(host_since as timestamp) as long)) / (60 * 60 * 24) as f_host_for,
       to_number(cast(host_response_rate as int)) as f_host_response_rate, 
       to_number(cast(host_acceptance_rate as int)) as f_host_acceptance_rate, 
       to_number(cast(host_total_listings_count as int)) as f_host_total_listings_count,
       to_number(size(split(host_verifications, ','))) as f_num_of_ver,
       to_number(cast(host_listings_count as int)) as f_host_listings_count
FROM airbnb
""").registerTempTable("hosts_features")

In [21]:
se.sql("""
SELECT *
FROM hosts_features
LIMIT 5
""").toPandas()

,id,f_host_for,f_host_response_rate,f_host_acceptance_rate,f_host_total_listings_count,f_num_of_ver,f_host_listings_count
0,761378,3728.810602,0.0,0.0,1.0,2.0,1.0
1,10600490,2556.810602,80.0,0.0,1.0,3.0,1.0
2,7490732,2743.810602,100.0,0.0,1.0,4.0,1.0
3,15097313,2310.810602,100.0,0.0,1.0,3.0,1.0
4,6987332,2999.810602,0.0,0.0,1.0,4.0,1.0

In [22]:
review_columns = [
    c
    for c in data.columns
    if c.startswith('review')
] + ["number_of_reviews"]

In [23]:
review_columns

['review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'reviews_per_month',
 'number_of_reviews']

Пошаманим с запросом через вставку в SQL

In [24]:
query = ", ".join([
    "to_number({c}) as f_{c}".format(c=c)
    for c in review_columns
])

In [25]:
query

'to_number(review_scores_rating) as f_review_scores_rating, to_number(review_scores_accuracy) as f_review_scores_accuracy, to_number(review_scores_cleanliness) as f_review_scores_cleanliness, to_number(review_scores_checkin) as f_review_scores_checkin, to_number(review_scores_communication) as f_review_scores_communication, to_number(review_scores_location) as f_review_scores_location, to_number(review_scores_value) as f_review_scores_value, to_number(reviews_per_month) as f_reviews_per_month, to_number(number_of_reviews) as f_number_of_reviews'

In [26]:
se.sql("""
SELECT id, {}
FROM airbnb
""".format(query)).registerTempTable("reviews_features")

In [27]:
se.sql("""
SELECT *
FROM reviews_features
LIMIT 5
""").toPandas()

,id,f_review_scores_rating,f_review_scores_accuracy,f_review_scores_cleanliness,f_review_scores_checkin,f_review_scores_communication,f_review_scores_location,f_review_scores_value,f_reviews_per_month,f_number_of_reviews
0,761378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
1,10600490,100.0,10.0,10.0,10.0,10.0,10.0,6.0,0.16,2.0
2,7490732,97.0,10.0,10.0,10.0,10.0,10.0,10.0,2.13,42.0
3,15097313,96.0,10.0,10.0,10.0,10.0,10.0,10.0,1.45,6.0
4,6987332,60.0,8.0,6.0,10.0,10.0,10.0,8.0,0.05,1.0

In [28]:
data.limit(4).toPandas()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,cancellation_policy,calculated_host_listings_count,reviews_per_month,geolocation,features
0,761378,https://www.airbnb.com/rooms/761378,20170404145355,2017-04-06,1 private bedroom (25m²) in a parisian appartment,None,"Location: Paris Arrondissement 8, Paris, Ile-d...","Location: Paris Arrondissement 8, Paris, Ile-d...",none,None,...,None,None,None,None,Paris,flexible,1,None,"48.87822120123633, 2.323067504549647","Host Has Profile Pic,Is Location Exact"
1,10600490,https://www.airbnb.com/rooms/10600490,20170404145355,2017-04-06,"Near to Champs Elysées , 200 m²","A few meters from Champs Elysees, very nice re...",None,"A few meters from Champs Elysees, very nice re...",none,None,...,10,10,6,None,Paris,strict,1,0.16,"48.872101253444285, 2.3094301914142195","Host Has Profile Pic,Is Location Exact,Instant..."
2,7490732,https://www.airbnb.com/rooms/7490732,20170404145355,2017-04-05,Cosy appartment at Champs-Elysees,One bedroom 50m2 cosy appartment at Champs Ely...,A 50m² appartment on the 6th floor (with a lif...,One bedroom 50m2 cosy appartment at Champs Ely...,none,The famous Champs Elysees avenue is just aroun...,...,10,10,10,None,Paris,strict,1,2.13,"48.869850206500956, 2.310182986403705","Host Is Superhost,Host Has Profile Pic,Host Id..."
3,15097313,https://www.airbnb.com/rooms/15097313,20170404145355,2017-04-05,Quiet apartment in the Heart of Paris,"L'appartement (70 m²) est au cœur de Paris, à ...",Un appartement refait à neuf très récemment. I...,"L'appartement (70 m²) est au cœur de Paris, à ...",none,"A 2 pas des Champs Elysées, où bat le cœur de ...",...,10,10,10,None,Paris,moderate,1,1.45,"48.86832315709884, 2.3028395028763975","Host Has Profile Pic,Is Location Exact,Instant..."

Есть еще целая пачка хороший признаков в том числе и категориальных про саму квартиру. Закодируем их.

In [29]:
se.sql("""
SELECT distinct(property_type)
FROM airbnb
""").toPandas()

             property_type
0   Heritage hotel (India)
1                Apartment
2                Townhouse
3          Bed & Breakfast
4              Earth House
5          Pension (Korea)
6              Guest suite
7                Timeshare
8                      Hut
9                     None
10               Camper/RV
11          Boutique hotel
12                  Castle
13                    Loft
14              Guesthouse
15                  Hostel
16              Lighthouse
17                    Cave
18                   Villa
19          Ryokan (Japan)
20                     Car
21            Entire Floor
22                   Other
23      Serviced apartment
24               Treehouse
25                  In-law
26            Nature lodge
27                    Dorm
28                   Igloo
29             Condominium
30                   House
31                  Chalet
32                    Yurt
33                    Tipi
34           Parking Space
35                  Island
36                    Tent
37                   Train
38                    Boat
39           Vacation home
40              2017-04-02
41         Casa particular
42                Bungalow
43                   Plane
44                   Cabin

In [30]:
se.sql("""
SELECT distinct(room_type)
FROM airbnb
""").toPandas()

         room_type
0      Shared room
1             None
2  Entire home/apt
3                9
4     Private room

In [31]:
se.sql("""
SELECT distinct(bed_type)
FROM airbnb
""").toPandas()

        bed_type
0           None
1         Airbed
2          Futon
3  Pull-out Sofa
4          Couch
5              9
6       Real Bed

In [32]:
se.sql("""
    SELECT distinct(explode(split(amenities, ',')))
    FROM airbnb
""").toPandas()

                          col
0        Lock on Bedroom Door
1            Indoor fireplace
2       Wheelchair accessible
3            Private bathroom
4         Private living room
..                        ...
130                 Baby bath
131      Elevator in building
132  Free parking on premises
133          24-hour check-in
134  Buzzer/Wireless Intercom

[135 rows x 1 columns]

#### Программно создаваемые запросы через DataFrame API

Чтобы более гибко контролировать запросы, можно использовать не тестовый способ запуска SQL, а программный через DataFrame API.

Подробнее про то, как составлять такие запросы и какие готовые фукнции уже существуют - на официальном сайте https://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html

In [9]:
from pyspark.sql import functions as F

In [34]:
data.printSchema()

root
 |-- id: string (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- scrape_id: string (nullable = true)
 |-- last_scraped: string (nullable = true)
 |-- name: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- space: string (nullable = true)
 |-- description: string (nullable = true)
 |-- experiences_offered: string (nullable = true)
 |-- neighborhood_overview: string (nullable = true)
 |-- notes: string (nullable = true)
 |-- transit: string (nullable = true)
 |-- access: string (nullable = true)
 |-- interaction: string (nullable = true)
 |-- house_rules: string (nullable = true)
 |-- thumbnail_url: string (nullable = true)
 |-- medium_url: string (nullable = true)
 |-- picture_url: string (nullable = true)
 |-- xl_picture_url: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_url: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_since: string (nullable = true)
 |-- host_location: string (nullable = true)
 |-- host_about: string (nullable = true)
 |-- host_response_time: string (nullable = true)
 |-- host_response_rate: string (nullable = true)
 |-- host_acceptance_rate: string (nullable = true)
 |-- host_thumbnail_url: string (nullable = true)
 |-- host_picture_url: string (nullable = true)
 |-- host_neighbourhood: string (nullable = true)
 |-- host_listings_count: string (nullable = true)
 |-- host_total_listings_count: string (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- street: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- market: string (nullable = true)
 |-- smart_location: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- country: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: string (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- beds: string (nullable = true)
 |-- bed_type: string (nullable = true)
 |-- amenities: string (nullable = true)
 |-- square_feet: string (nullable = true)
 |-- price: string (nullable = true)
 |-- weekly_price: string (nullable = true)
 |-- monthly_price: string (nullable = true)
 |-- security_deposit: string (nullable = true)
 |-- cleaning_fee: string (nullable = true)
 |-- guests_included: string (nullable = true)
 |-- extra_people: string (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- maximum_nights: string (nullable = true)
 |-- calendar_updated: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: string (nullable = true)
 |-- availability_60: string (nullable = true)
 |-- availability_90: string (nullable = true)
 |-- availability_365: string (nullable = true)
 |-- calendar_last_scraped: string (nullable = true)
 |-- number_of_reviews: string (nullable = true)
 |-- first_review: string (nullable = true)
 |-- last_review: string (nullable = true)
 |-- review_scores_rating: string (nullable = true)
 |-- review_scores_accuracy: string (nullable = true)
 |-- review_scores_cleanliness: string (nullable = true)
 |-- review_scores_checkin: string (nullable = true)
 |-- review_scores_communication: string (nullable = true)
 |-- review_scores_location: string (nullable = true)
 |-- review_scores_value: string (nullable = true)
 |-- license: string (nullable = true)
 |-- jurisdiction_names: string (nullable = true)
 |-- cancellation_policy: string (nullable = true)
 |-- calculated_host_listings_count: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)
 |-- geolocation: string (nullable = true)
 |-- features: string (nullable = true)

In [35]:
data.select(['id', 'name', 'price']).limit(10).toPandas()

         id                                               name price
0    761378  1 private bedroom (25m²) in a parisian appartment    89
1  10600490                    Near to Champs Elysées , 200 m²   789
2   7490732                  Cosy appartment at Champs-Elysees   100
3  15097313              Quiet apartment in the Heart of Paris    85
4   6987332                    Appartement Paris Centre (9ème)    75
5   9340539                      09-LUXURY LOFT CHAMPS ELYSÉES   199
6   6064355                           Bright apartment Paris 8    95
7  13794754  ICONIC LUXURY~3BR/3BATH &BALCONY IN CHAMPS ELY...   650
8   6371225                  Chambre dans appartement - Marais    52
9   3495940                   Cosy Studio Arts & Metiers Paris    85

In [36]:
data.select(['id', 'name', 'price']).where(F.col('id') == '14916824').limit(10).toPandas()

         id                                               name price
0  14916824  Chambre privée centre-ville/Private room downtown    25

In [37]:
amenities_c = se.sql("""
    SELECT distinct(explode(split(lower(amenities), ',')))
    FROM airbnb
""").rdd.map(lambda x: x.col).collect()

In [38]:
amenities_c

['refrigerator',
 'step-free access',
 'stove',
 'wide hallway clearance',
 'path to entrance lit at night',
 'ev charger',
 'wide doorway',
 'grab-rails for shower and toilet',
 'pets allowed',
 'cooking basics',
 'heating',
 'lake access',
 'patio or balcony',
 'washer / dryer',
 'wide clearance to shower and toilet',
 'doorman',
 'private living room',
 'game console',
 'long term stays allowed',
 'buzzer/wireless intercom',
 'coffee maker',
 'pocket wifi',
 'oven',
 'tub with shower bench',
 'host greets you',
 'tv',
 'pets live on this property',
 'garden or backyard',
 'crib',
 'carbon monoxide detector',
 'laptop friendly workspace',
 'hair dryer',
 'dishes and silverware',
 'wireless internet',
 'hangers',
 'pool',
 'kitchen',
 'safety card',
 'extra pillows and blankets',
 'fire extinguisher',
 'table corner guards',
 'family/kid friendly',
 'wide clearance to bed',
 'paid parking off premises',
 'indoor fireplace',
 'translation missing: en.hosting_amenity_50',
 'washer',
 'lockbox',
 'gym',
 'cable tv',
 'keypad',
 'waterfront',
 'bed linens',
 'accessible-height toilet',
 'hot tub',
 'dog(s)',
 'elevator in building',
 'wheelchair accessible',
 'other pet(s)',
 'cat(s)',
 'iron',
 'fireplace guards',
 'changing table',
 'suitable for events',
 'first aid kit',
 'ethernet connection',
 'self check-in',
 'flat smooth pathway to front door',
 'internet',
 'window guards',
 'lock on bedroom door',
 'breakfast',
 'children’s books and toys',
 'children’s dinnerware',
 'firm matress',
 'baby bath',
 'doorman entry',
 'microwave',
 'dryer',
 'free parking on street',
 '9',
 'private bathroom',
 'smartlock',
 'shampoo',
 'roll-in shower with shower bench or chair',
 'high chair',
 'hot water',
 'firm mattress',
 'free parking on premises',
 'smoking allowed',
 'single level home',
 'room-darkening shades',
 'private entrance',
 'outlet covers',
 'cleaning before checkout',
 'disabled parking spot',
 'baby monitor',
 'bathtub',
 'smoke detector',
 'air conditioning',
 'translation missing: en.hosting_amenity_49',
 'luggage dropoff allowed',
 'stair gates',
 'bbq grill',
 'dishwasher',
 'smart lock',
 'babysitter recommendations',
 'pack ’n play/travel crib',
 'essentials',
 'beach essentials',
 'beachfront',
 'accessible-height bed',
 '24-hour check-in']

`F.when` проверяет условие и если оно верно то выставляет указанное значение, если не верно, то значение указанное в `otherwise`.

In [39]:
import string

allowed = set(string.ascii_letters + string.digits + " ,")

def slugify(text):
    if not text:
        return ""
    text = "".join([ch for ch in text.lower() if ch in allowed])
    return text.replace(' ', '_')

In [40]:
f_slugify = se.udf.register("slugify", slugify, "string")

In [41]:
exprs = [
    F.when(
        F.array_contains(F.split(f_slugify('amenities'), ','), slugify(amenity)),
        1
    )
    .otherwise(0).alias("f_cat_amenity_" + slugify(amenity)) 
    for amenity in amenities_c
]

In [42]:
data.select('id', *exprs).limit(5).toPandas()

,id,f_cat_amenity_refrigerator,f_cat_amenity_stepfree_access,f_cat_amenity_stove,f_cat_amenity_wide_hallway_clearance,f_cat_amenity_path_to_entrance_lit_at_night,f_cat_amenity_ev_charger,f_cat_amenity_wide_doorway,f_cat_amenity_grabrails_for_shower_and_toilet,f_cat_amenity_pets_allowed,...,f_cat_amenity_bbq_grill,f_cat_amenity_dishwasher,f_cat_amenity_smart_lock,f_cat_amenity_babysitter_recommendations,f_cat_amenity_pack_n_playtravel_crib,f_cat_amenity_essentials,f_cat_amenity_beach_essentials,f_cat_amenity_beachfront,f_cat_amenity_accessibleheight_bed,f_cat_amenity_24hour_checkin
0,761378,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10600490,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,7490732,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,15097313,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,6987332,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [43]:
data.select('id', *exprs).limit(1).collect()

[Row(id='761378', f_cat_amenity_refrigerator=0, f_cat_amenity_stepfree_access=0, f_cat_amenity_stove=0, f_cat_amenity_wide_hallway_clearance=0, f_cat_amenity_path_to_entrance_lit_at_night=0, f_cat_amenity_ev_charger=0, f_cat_amenity_wide_doorway=0, f_cat_amenity_grabrails_for_shower_and_toilet=0, f_cat_amenity_pets_allowed=0, f_cat_amenity_cooking_basics=0, f_cat_amenity_heating=0, f_cat_amenity_lake_access=0, f_cat_amenity_patio_or_balcony=0, f_cat_amenity_washer__dryer=0, f_cat_amenity_wide_clearance_to_shower_and_toilet=0, f_cat_amenity_doorman=0, f_cat_amenity_private_living_room=0, f_cat_amenity_game_console=0, f_cat_amenity_long_term_stays_allowed=0, f_cat_amenity_buzzerwireless_intercom=1, f_cat_amenity_coffee_maker=0, f_cat_amenity_pocket_wifi=0, f_cat_amenity_oven=0, f_cat_amenity_tub_with_shower_bench=0, f_cat_amenity_host_greets_you=0, f_cat_amenity_tv=1, f_cat_amenity_pets_live_on_this_property=0, f_cat_amenity_garden_or_backyard=0, f_cat_amenity_crib=0, f_cat_amenity_carbon_monoxide_detector=0, f_cat_amenity_laptop_friendly_workspace=0, f_cat_amenity_hair_dryer=0, f_cat_amenity_dishes_and_silverware=0, f_cat_amenity_wireless_internet=1, f_cat_amenity_hangers=0, f_cat_amenity_pool=0, f_cat_amenity_kitchen=0, f_cat_amenity_safety_card=0, f_cat_amenity_extra_pillows_and_blankets=0, f_cat_amenity_fire_extinguisher=0, f_cat_amenity_table_corner_guards=0, f_cat_amenity_familykid_friendly=0, f_cat_amenity_wide_clearance_to_bed=0, f_cat_amenity_paid_parking_off_premises=0, f_cat_amenity_indoor_fireplace=0, f_cat_amenity_translation_missing_enhostingamenity50=0, f_cat_amenity_washer=0, f_cat_amenity_lockbox=0, f_cat_amenity_gym=0, f_cat_amenity_cable_tv=0, f_cat_amenity_keypad=0, f_cat_amenity_waterfront=0, f_cat_amenity_bed_linens=0, f_cat_amenity_accessibleheight_toilet=0, f_cat_amenity_hot_tub=0, f_cat_amenity_dogs=0, f_cat_amenity_elevator_in_building=1, f_cat_amenity_wheelchair_accessible=0, f_cat_amenity_other_pets=0, f_cat_amenity_cats=0, f_cat_amenity_iron=0, f_cat_amenity_fireplace_guards=0, f_cat_amenity_changing_table=0, f_cat_amenity_suitable_for_events=0, f_cat_amenity_first_aid_kit=0, f_cat_amenity_ethernet_connection=0, f_cat_amenity_self_checkin=0, f_cat_amenity_flat_smooth_pathway_to_front_door=0, f_cat_amenity_internet=0, f_cat_amenity_window_guards=0, f_cat_amenity_lock_on_bedroom_door=0, f_cat_amenity_breakfast=0, f_cat_amenity_childrens_books_and_toys=0, f_cat_amenity_childrens_dinnerware=0, f_cat_amenity_firm_matress=0, f_cat_amenity_baby_bath=0, f_cat_amenity_doorman_entry=0, f_cat_amenity_microwave=0, f_cat_amenity_dryer=0, f_cat_amenity_free_parking_on_street=0, f_cat_amenity_9=0, f_cat_amenity_private_bathroom=0, f_cat_amenity_smartlock=0, f_cat_amenity_shampoo=0, f_cat_amenity_rollin_shower_with_shower_bench_or_chair=0, f_cat_amenity_high_chair=0, f_cat_amenity_hot_water=0, f_cat_amenity_firm_mattress=0, f_cat_amenity_free_parking_on_premises=0, f_cat_amenity_smoking_allowed=0, f_cat_amenity_single_level_home=0, f_cat_amenity_roomdarkening_shades=0, f_cat_amenity_private_entrance=0, f_cat_amenity_outlet_covers=0, f_cat_amenity_cleaning_before_checkout=0, f_cat_amenity_disabled_parking_spot=0, f_cat_amenity_baby_monitor=0, f_cat_amenity_bathtub=0, f_cat_amenity_smoke_detector=0, f_cat_amenity_air_conditioning=0, f_cat_amenity_translation_missing_enhostingamenity49=0, f_cat_amenity_luggage_dropoff_allowed=0, f_cat_amenity_stair_gates=0, f_cat_amenity_bbq_grill=0, f_cat_amenity_dishwasher=0, f_cat_amenity_smart_lock=0, f_cat_amenity_babysitter_recommendations=0, f_cat_amenity_pack_n_playtravel_crib=0, f_cat_amenity_essentials=0, f_cat_amenity_beach_essentials=0, f_cat_amenity_beachfront=0, f_cat_amenity_accessibleheight_bed=0, f_cat_amenity_24hour_checkin=0)]

In [44]:
data.select('id', *exprs).registerTempTable("amenity_features")

In [45]:
bed_types = data.select('bed_type').distinct().rdd.map(lambda x: x.bed_type).collect()

In [46]:
bed_types = [x for x in bed_types if x is not None]

In [47]:
exprs = [
    F.when(
        F.col('bed_type') == btype,
        1
    )
    .otherwise(0).alias("f_cat_bad_type_" + slugify(btype))
    for btype in bed_types
]

In [48]:
data.select('id', *exprs).limit(5).toPandas()

,id,f_cat_bad_type_airbed,f_cat_bad_type_futon,f_cat_bad_type_pullout_sofa,f_cat_bad_type_couch,f_cat_bad_type_9,f_cat_bad_type_real_bed
0,761378,0,0,0,0,0,1
1,10600490,0,0,0,0,0,1
2,7490732,0,0,0,0,0,1
3,15097313,0,0,0,0,0,1
4,6987332,0,0,0,0,0,1

In [49]:
data.select('id', *exprs).registerTempTable("bed_type_features")

In [50]:
room_types = data.select('room_type').distinct().rdd.map(lambda x: x.room_type).collect()
room_types = [x for x in room_types if x is not None]
exprs = [
    F.when(
        F.col('bed_type') == btype,
        1
    )
    .otherwise(0).alias("f_cat_room_type_" + slugify(btype))
    for btype in room_types
]
data.select('id', *exprs).registerTempTable("room_types_features")

In [51]:
property_types = data.select('property_type').distinct().rdd.map(lambda x: x.property_type).collect()
property_types = [x for x in property_types if x is not None]
exprs = [
    F.when(
        F.col('property_type') == btype,
        1
    )
    .otherwise(0).alias("f_cat_property_type_" + slugify(btype))
    for btype in property_types
]
data.select('id', *exprs).registerTempTable("property_types_features")

In [52]:
app_features_c = se.sql("""
    SELECT distinct(explode(split(lower(features), ',')))
    FROM airbnb
""").rdd.map(lambda x: x.col).collect()

exprs = [
    F.when(
        F.array_contains(F.split(f_slugify('features'), ','), slugify(appf)),
        1
    )
    .otherwise(0).alias("f_cat_app_feature_" + slugify(appf)) 
    for appf in app_features_c
]
data.select('id', *exprs).registerTempTable("app_features_features")

In [53]:
se.sql("""
SELECT id,
       to_number(accommodates) as f_accommodates,
       to_number(bathrooms) as f_bathrooms,
       to_number(bedrooms) as f_bedrooms,
       to_number(beds) as f_beds,
       to_number(guests_included) as f_guests_included,
       to_number(cleaning_fee) as f_cleaning_fee,
       to_number(square_feet) as f_square_feet,
       to_number(extra_people) as f_extra_people
FROM airbnb
""").registerTempTable("accommodation_features")

In [54]:
se.sql("""
SELECT *
FROM accommodation_features
LIMIT 5
""").toPandas()

,id,f_accommodates,f_bathrooms,f_bedrooms,f_beds,f_guests_included,f_cleaning_fee,f_square_feet,f_extra_people
0,761378,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
1,10600490,6.0,2.0,3.0,4.0,1.0,0.0,0.0,0.0
2,7490732,2.0,1.5,1.0,1.0,2.0,40.0,0.0,0.0
3,15097313,3.0,2.0,1.0,2.0,1.0,70.0,0.0,0.0
4,6987332,4.0,1.0,2.0,2.0,1.0,0.0,0.0,0.0

In [55]:
data.limit(4).toPandas()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,cancellation_policy,calculated_host_listings_count,reviews_per_month,geolocation,features
0,761378,https://www.airbnb.com/rooms/761378,20170404145355,2017-04-06,1 private bedroom (25m²) in a parisian appartment,None,"Location: Paris Arrondissement 8, Paris, Ile-d...","Location: Paris Arrondissement 8, Paris, Ile-d...",none,None,...,None,None,None,None,Paris,flexible,1,None,"48.87822120123633, 2.323067504549647","Host Has Profile Pic,Is Location Exact"
1,10600490,https://www.airbnb.com/rooms/10600490,20170404145355,2017-04-06,"Near to Champs Elysées , 200 m²","A few meters from Champs Elysees, very nice re...",None,"A few meters from Champs Elysees, very nice re...",none,None,...,10,10,6,None,Paris,strict,1,0.16,"48.872101253444285, 2.3094301914142195","Host Has Profile Pic,Is Location Exact,Instant..."
2,7490732,https://www.airbnb.com/rooms/7490732,20170404145355,2017-04-05,Cosy appartment at Champs-Elysees,One bedroom 50m2 cosy appartment at Champs Ely...,A 50m² appartment on the 6th floor (with a lif...,One bedroom 50m2 cosy appartment at Champs Ely...,none,The famous Champs Elysees avenue is just aroun...,...,10,10,10,None,Paris,strict,1,2.13,"48.869850206500956, 2.310182986403705","Host Is Superhost,Host Has Profile Pic,Host Id..."
3,15097313,https://www.airbnb.com/rooms/15097313,20170404145355,2017-04-05,Quiet apartment in the Heart of Paris,"L'appartement (70 m²) est au cœur de Paris, à ...",Un appartement refait à neuf très récemment. I...,"L'appartement (70 m²) est au cœur de Paris, à ...",none,"A 2 pas des Champs Elysées, où bat le cœur de ...",...,10,10,10,None,Paris,moderate,1,1.45,"48.86832315709884, 2.3028395028763975","Host Has Profile Pic,Is Location Exact,Instant..."

In [56]:
location_c = data.select('country_code').distinct().rdd.map(lambda x: x.country_code).collect()
location_c = {slugify(x) for x in location_c if x is not None}
exprs = [
    F.when(
        F.col('country_code') == x,
        1
    )
    .otherwise(0).alias("f_cat_country_" + x)
    for x in location_c
]
data.select('id', *exprs).registerTempTable("location_features")

In [57]:
data.select('id', *exprs).columns

['id',
 'f_cat_country_va',
 'f_cat_country_cn',
 'f_cat_country_fr',
 'f_cat_country_gb',
 'f_cat_country_ca',
 'f_cat_country_it',
 'f_cat_country_dk',
 'f_cat_country_vu',
 'f_cat_country_au',
 'f_cat_country_uy',
 'f_cat_country_nl',
 'f_cat_country_at',
 'f_cat_country_de',
 'f_cat_country_hk',
 'f_cat_country_gr',
 'f_cat_country_ch',
 'f_cat_country_us',
 'f_cat_country_ie',
 'f_cat_country_es',
 'f_cat_country_be']

In [58]:
bias = data.select('id', F.when(F.col('id') == F.col('id'), 1).alias('f_bias'))

In [59]:
bias.limit(10).toPandas()

         id  f_bias
0    761378       1
1  10600490       1
2   7490732       1
3  15097313       1
4   6987332       1
5   9340539       1
6   6064355       1
7  13794754       1
8   6371225       1
9   3495940       1

In [60]:
bias.registerTempTable("bias")

Чтож, для нашего примера должно быть достаточно. Соберем итоговый датасет.

In [64]:
datadet_df = se.sql("""
SELECT to_number(price) as target, *
FROM
    airbnb a
    join hosts_features hf on hf.id = a.id
    join reviews_features rf on rf.id = a.id
    join amenity_features af on af.id = a.id
    join bed_type_features btf on btf.id = a.id
    join room_types_features rtf on rtf.id = a.id
    join property_types_features ptf on ptf.id = a.id
    join accommodation_features accf on accf.id = a.id
    join location_features lf on lf.id = a.id
    join app_features_features aff on aff.id = a.id
    join bias b on b.id = a.id
WHERE 
    to_number(price) > 0
""")

In [65]:
datadet_df.count()

356437

In [66]:
cols = datadet_df.columns
non_features_c = [
    c for c in cols
    if not (c == 'target' or c.startswith('f_'))
]

In [67]:
non_features_c[:10]

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview']

In [70]:
se.conf.set("spark.sql.autoBroadcastJoinThreshold", -1)

In [75]:
datadet_df.drop(*non_features_c).write.parquet("/user/airbnb/parquet/dataset.parquet")

In [76]:
! hdfs dfs -ls /user/airbnb/parquet

Found 2 items
drwxr-xr-x   - ubuntu hadoop          0 2023-01-14 18:01 /user/airbnb/parquet/data.parquet
drwxr-xr-x   - ubuntu hadoop          0 2023-01-14 19:43 /user/airbnb/parquet/dataset.parquet

In [6]:
dataset_fd = se.read.parquet('/user/airbnb/parquet/dataset.parquet')

In [10]:
dataset_fd.select(F.mean('f_host_for').alias('f_host_for_mean'), F.stddev('f_host_for').alias('f_host_for_dev')).limit(5).toPandas()

   f_host_for_mean  f_host_for_dev
0      3012.319323      565.931719

In [11]:
f_real_cols = [f for f in dataset_fd.columns if f.startswith('f') and not f.startswith('f_cat') and f != 'f_bias']
f_cat_cols = [f for f in dataset_fd.columns if f.startswith('f') and (f.startswith('f_cat') or f == 'f_bias')]

In [13]:
exps_mean = [
    F.mean(c).alias('{}_mean'.format(c))
    for c in f_real_cols
]

exps_dev = [
    F.stddev(c).alias('{}_dev'.format(c))
    for c in f_real_cols
]

norm_f = dataset_fd.select(*exps_mean, *exps_dev).rdd.take(1)

In [14]:
norm_dict = norm_f[0].asDict()

In [16]:
exps = [
    (
        (F.col(c) - norm_dict["{}_mean".format(c)]) / (1 + norm_dict["{}_dev".format(c)])
    ).alias(c)
    for c in f_real_cols
]

In [17]:
dataset_fd.select("target", *f_cat_cols, *exps).limit(5).toPandas()

,target,f_cat_amenity_refrigerator,f_cat_amenity_stepfree_access,f_cat_amenity_stove,f_cat_amenity_wide_hallway_clearance,f_cat_amenity_path_to_entrance_lit_at_night,f_cat_amenity_ev_charger,f_cat_amenity_wide_doorway,f_cat_amenity_grabrails_for_shower_and_toilet,f_cat_amenity_pets_allowed,f_cat_amenity_cooking_basics,f_cat_amenity_heating,f_cat_amenity_lake_access,f_cat_amenity_patio_or_balcony,f_cat_amenity_washer__dryer,f_cat_amenity_wide_clearance_to_shower_and_toilet,f_cat_amenity_doorman,f_cat_amenity_private_living_room,f_cat_amenity_game_console,f_cat_amenity_long_term_stays_allowed,f_cat_amenity_buzzerwireless_intercom,f_cat_amenity_coffee_maker,f_cat_amenity_pocket_wifi,f_cat_amenity_oven,f_cat_amenity_tub_with_shower_bench,f_cat_amenity_host_greets_you,f_cat_amenity_tv,f_cat_amenity_pets_live_on_this_property,f_cat_amenity_garden_or_backyard,f_cat_amenity_crib,f_cat_amenity_carbon_monoxide_detector,f_cat_amenity_laptop_friendly_workspace,f_cat_amenity_hair_dryer,f_cat_amenity_dishes_and_silverware,f_cat_amenity_wireless_internet,f_cat_amenity_hangers,f_cat_amenity_pool,f_cat_amenity_kitchen,f_cat_amenity_safety_card,f_cat_amenity_extra_pillows_and_blankets,f_cat_amenity_fire_extinguisher,f_cat_amenity_table_corner_guards,f_cat_amenity_familykid_friendly,f_cat_amenity_wide_clearance_to_bed,f_cat_amenity_paid_parking_off_premises,f_cat_amenity_indoor_fireplace,f_cat_amenity_translation_missing_enhostingamenity50,f_cat_amenity_washer,f_cat_amenity_lockbox,f_cat_amenity_gym,f_cat_amenity_cable_tv,f_cat_amenity_keypad,f_cat_amenity_waterfront,f_cat_amenity_bed_linens,f_cat_amenity_accessibleheight_toilet,f_cat_amenity_hot_tub,f_cat_amenity_dogs,f_cat_amenity_elevator_in_building,f_cat_amenity_wheelchair_accessible,f_cat_amenity_other_pets,f_cat_amenity_cats,f_cat_amenity_iron,f_cat_amenity_fireplace_guards,f_cat_amenity_changing_table,f_cat_amenity_suitable_for_events,f_cat_amenity_first_aid_kit,f_cat_amenity_ethernet_connection,f_cat_amenity_self_checkin,f_cat_amenity_flat_smooth_pathway_to_front_door,f_cat_amenity_internet,f_cat_amenity_window_guards,f_cat_amenity_lock_on_bedroom_door,f_cat_amenity_breakfast,f_cat_amenity_childrens_books_and_toys,f_cat_amenity_childrens_dinnerware,f_cat_amenity_firm_matress,f_cat_amenity_baby_bath,f_cat_amenity_doorman_entry,f_cat_amenity_microwave,f_cat_amenity_dryer,f_cat_amenity_free_parking_on_street,f_cat_amenity_9,f_cat_amenity_private_bathroom,f_cat_amenity_smartlock,f_cat_amenity_shampoo,f_cat_amenity_rollin_shower_with_shower_bench_or_chair,f_cat_amenity_high_chair,f_cat_amenity_hot_water,f_cat_amenity_firm_mattress,f_cat_amenity_free_parking_on_premises,f_cat_amenity_smoking_allowed,f_cat_amenity_single_level_home,f_cat_amenity_roomdarkening_shades,f_cat_amenity_private_entrance,f_cat_amenity_outlet_covers,f_cat_amenity_cleaning_before_checkout,f_cat_amenity_disabled_parking_spot,f_cat_amenity_baby_monitor,f_cat_amenity_bathtub,f_cat_amenity_smoke_detector,f_cat_amenity_air_conditioning,f_cat_amenity_translation_missing_enhostingamenity49,f_cat_amenity_luggage_dropoff_allowed,f_cat_amenity_stair_gates,f_cat_amenity_bbq_grill,f_cat_amenity_dishwasher,f_cat_amenity_smart_lock,f_cat_amenity_babysitter_recommendations,f_cat_amenity_pack_n_playtravel_crib,f_cat_amenity_essentials,f_cat_amenity_beach_essentials,f_cat_amenity_beachfront,f_cat_amenity_accessibleheight_bed,f_cat_amenity_24hour_checkin,f_cat_bad_type_airbed,f_cat_bad_type_futon,f_cat_bad_type_pullout_sofa,f_cat_bad_type_couch,f_cat_bad_type_9,f_cat_bad_type_real_bed,f_cat_room_type_shared_room,f_cat_room_type_entire_homeapt,f_cat_room_type_9,f_cat_room_type_private_room,f_cat_property_type_heritage_hotel_india,f_cat_property_type_apartment,f_cat_property_type_townhouse,f_cat_property_type_bed__breakfast,f_cat_property_type_earth_house,f_cat_property_type_pension_korea,f_cat_property_type_guest_suite,f_cat_property_type_timeshare,f_cat_property_type_hut,f_cat_property_type_camperrv,f_cat_property_type_boutique_hotel,f_cat_property_type_castle,f_cat_property_type_loft,f_cat_property_type_guesthouse,f_cat_property_type_hostel,f_cat_property_type_lighthouse,f_cat_property_type_cave,f_cat_property_type_villa,f_cat_property_type_ryokan_japan,f_cat_property_type_car,f_cat_property_type_entire_floor,f_cat_property_type_other,f_cat_property_type_serviced_apartment,f_cat_property_type_treehouse,f_cat_property_type_inlaw,f_cat_property_type_nature_lodge,f_cat_property_type_dorm,f_cat_property_type_igloo,f_cat_property_type_condominium,f_cat_property_type_house,f_cat_property_type_chalet,f_cat_property_type_yurt,f_cat_property_type_tipi,f_cat_property_type_parking_space,f_cat_property_type_island,f_cat_property_type_tent,f_cat_property_type_train,f_cat_property_type_boat,f_cat_property_type_vacation_home,f_cat_property_type_20170402,f_cat_property_type_casa_particular,f_cat_property_type_bungalow,f_cat_property_type_plane,f_cat_property_type_cabin,f_cat_country_va,f_cat_country_cn,f_cat_country_fr,f_cat_country_gb,f_cat_country_ca,f_cat_country_it,f_cat_country_dk,f_cat_country_vu,f_cat_country_au,f_cat_country_uy,f_cat_country_nl,f_cat_country_at,f_cat_country_de,f_cat_country_hk,f_cat_country_gr,f_cat_country_ch,f_cat_country_us,f_cat_country_ie,f_cat_country_es,f_cat_country_be,f_cat_app_feature_host_has_profile_pic,f_cat_app_feature_host_identity_verified,f_cat_app_feature_instant_bookable,f_cat_app_feature_host_is_superhost,f_cat_app_feature_requires_license,f_cat_app_feature_require_guest_profile_picture,f_cat_app_feature_require_guest_phone_verification,f_cat_app_feature_is_location_exact,f_bias,f_host_for,f_host_response_rate,f_host_acceptance_rate,f_host_total_listings_count,f_num_of_ver,f_host_listings_count,f_review_scores_rating,f_review_scores_accuracy,f_review_scores_cleanliness,f_review_scores_checkin,f_review_scores_communication,f_review_scores_location,f_review_scores_value,f_reviews_per_month,f_number_of_reviews,f_accommodates,f_bathrooms,f_bedrooms,f_beds,f_guests_included,f_cleaning_fee,f_square_feet,f_extra_people
0,450.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,1,0.907513,0.705464,0.0,-0.088240,0.877686,-0.088240,0.654941,0.598025,0.445704,0.562951,0.561807,0.415295,0.438672,-0.113266,-0.032952,-0.407954,-0.144854,-0.184156,-0.361613,-0.228716,-0.609500,-0.043745,-0.381889
1,65.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,0,1,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,-0.267232,-1.524437,0.0,-0.122040,-1.271305,-0.122040,-1.538550,-1.261773,-1.249272,-1.284841,-1.287762,-1.276485,-1.268037,-0.401075,-0.483396,-0.407954,-0.144854,-0.184156,-0.361613,-0.228716,-0.609500,-0.043745,-0.381889
2,300.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0.366002,-1.524437,0.0,-0.122040,-0.411709,-0.122040,-1.538550,-1.261773,-1.249272,-1.284841,-1.287762,-1.276485,-1.268037,-0.401075,-0.483396,0.258448,0.494909,0.858720,0.891621,-0.228716,-0.609500,-0.043745,-0.381889
3,199.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,1,0,1,0,0,0,0,1,0,0,0,0,1,0,1,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,1,-0.290162,0.660866,0.0,25.160765,0.018090,25.160765,-1.538550,-1.261773,-1.249272,-1.284841,-1.287762,-1.276485,-1.268037,-0.401075,-0.483396,0.591649,0.494909,0.337282,0.056132,-0.228716,1.123896,-0.043745,-0.381889
4,80.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0.440085,0.705464,0.0,-0.122040,-0.411709,-0.122040,-1.538550,-1.261773,-1.249272,-1.284841,-1.287762,-1.276485,-1.268037,-0.401075,-0.483396,0.258448,-0.144854,-0.184156,0.056132,-0.228716,-0.609500,-0.043745,-0.381889

In [18]:
train_df, test_df = dataset_fd.select("target", *f_cat_cols, *exps).randomSplit([0.8, 0.2], 432)

In [19]:
train = train_df.rdd.cache()
test = test_df.rdd.cache()

In [20]:
example = train.first()

In [21]:
example

Row(target=1.0, f_cat_amenity_refrigerator=0, f_cat_amenity_stepfree_access=0, f_cat_amenity_stove=0, f_cat_amenity_wide_hallway_clearance=0, f_cat_amenity_path_to_entrance_lit_at_night=0, f_cat_amenity_ev_charger=0, f_cat_amenity_wide_doorway=0, f_cat_amenity_grabrails_for_shower_and_toilet=0, f_cat_amenity_pets_allowed=1, f_cat_amenity_cooking_basics=0, f_cat_amenity_heating=0, f_cat_amenity_lake_access=0, f_cat_amenity_patio_or_balcony=0, f_cat_amenity_washer__dryer=0, f_cat_amenity_wide_clearance_to_shower_and_toilet=0, f_cat_amenity_doorman=0, f_cat_amenity_private_living_room=0, f_cat_amenity_game_console=0, f_cat_amenity_long_term_stays_allowed=0, f_cat_amenity_buzzerwireless_intercom=0, f_cat_amenity_coffee_maker=0, f_cat_amenity_pocket_wifi=0, f_cat_amenity_oven=0, f_cat_amenity_tub_with_shower_bench=0, f_cat_amenity_host_greets_you=0, f_cat_amenity_tv=0, f_cat_amenity_pets_live_on_this_property=0, f_cat_amenity_garden_or_backyard=0, f_cat_amenity_crib=0, f_cat_amenity_carbon_monoxide_detector=0, f_cat_amenity_laptop_friendly_workspace=0, f_cat_amenity_hair_dryer=0, f_cat_amenity_dishes_and_silverware=0, f_cat_amenity_wireless_internet=0, f_cat_amenity_hangers=0, f_cat_amenity_pool=0, f_cat_amenity_kitchen=0, f_cat_amenity_safety_card=0, f_cat_amenity_extra_pillows_and_blankets=0, f_cat_amenity_fire_extinguisher=0, f_cat_amenity_table_corner_guards=0, f_cat_amenity_familykid_friendly=1, f_cat_amenity_wide_clearance_to_bed=0, f_cat_amenity_paid_parking_off_premises=0, f_cat_amenity_indoor_fireplace=0, f_cat_amenity_translation_missing_enhostingamenity50=0, f_cat_amenity_washer=0, f_cat_amenity_lockbox=0, f_cat_amenity_gym=0, f_cat_amenity_cable_tv=0, f_cat_amenity_keypad=0, f_cat_amenity_waterfront=0, f_cat_amenity_bed_linens=0, f_cat_amenity_accessibleheight_toilet=0, f_cat_amenity_hot_tub=0, f_cat_amenity_dogs=0, f_cat_amenity_elevator_in_building=0, f_cat_amenity_wheelchair_accessible=0, f_cat_amenity_other_pets=0, f_cat_amenity_cats=0, f_cat_amenity_iron=0, f_cat_amenity_fireplace_guards=0, f_cat_amenity_changing_table=0, f_cat_amenity_suitable_for_events=1, f_cat_amenity_first_aid_kit=0, f_cat_amenity_ethernet_connection=0, f_cat_amenity_self_checkin=0, f_cat_amenity_flat_smooth_pathway_to_front_door=0, f_cat_amenity_internet=0, f_cat_amenity_window_guards=0, f_cat_amenity_lock_on_bedroom_door=0, f_cat_amenity_breakfast=0, f_cat_amenity_childrens_books_and_toys=0, f_cat_amenity_childrens_dinnerware=0, f_cat_amenity_firm_matress=0, f_cat_amenity_baby_bath=0, f_cat_amenity_doorman_entry=0, f_cat_amenity_microwave=0, f_cat_amenity_dryer=0, f_cat_amenity_free_parking_on_street=0, f_cat_amenity_9=0, f_cat_amenity_private_bathroom=0, f_cat_amenity_smartlock=0, f_cat_amenity_shampoo=0, f_cat_amenity_rollin_shower_with_shower_bench_or_chair=0, f_cat_amenity_high_chair=0, f_cat_amenity_hot_water=0, f_cat_amenity_firm_mattress=0, f_cat_amenity_free_parking_on_premises=1, f_cat_amenity_smoking_allowed=1, f_cat_amenity_single_level_home=0, f_cat_amenity_roomdarkening_shades=0, f_cat_amenity_private_entrance=0, f_cat_amenity_outlet_covers=0, f_cat_amenity_cleaning_before_checkout=0, f_cat_amenity_disabled_parking_spot=0, f_cat_amenity_baby_monitor=0, f_cat_amenity_bathtub=0, f_cat_amenity_smoke_detector=0, f_cat_amenity_air_conditioning=0, f_cat_amenity_translation_missing_enhostingamenity49=0, f_cat_amenity_luggage_dropoff_allowed=0, f_cat_amenity_stair_gates=0, f_cat_amenity_bbq_grill=0, f_cat_amenity_dishwasher=0, f_cat_amenity_smart_lock=0, f_cat_amenity_babysitter_recommendations=0, f_cat_amenity_pack_n_playtravel_crib=0, f_cat_amenity_essentials=0, f_cat_amenity_beach_essentials=0, f_cat_amenity_beachfront=0, f_cat_amenity_accessibleheight_bed=0, f_cat_amenity_24hour_checkin=0, f_cat_bad_type_airbed=0, f_cat_bad_type_futon=0, f_cat_bad_type_pullout_sofa=0, f_cat_bad_type_couch=0, f_cat_bad_type_9=0, f_cat_bad_type_real_bed=1, f_cat_room_type_shared_room=0, f_cat_room_type_entire_homeapt=0, f_cat_room_type_9=0, f_cat_room_type_private_room=0, f_cat_property_type_heritage_hotel_india=0, f_cat_property_type_apartment=0, f_cat_property_type_townhouse=0, f_cat_property_type_bed__breakfast=0, f_cat_property_type_earth_house=0, f_cat_property_type_pension_korea=0, f_cat_property_type_guest_suite=0, f_cat_property_type_timeshare=0, f_cat_property_type_hut=0, f_cat_property_type_camperrv=0, f_cat_property_type_boutique_hotel=0, f_cat_property_type_castle=0, f_cat_property_type_loft=0, f_cat_property_type_guesthouse=0, f_cat_property_type_hostel=0, f_cat_property_type_lighthouse=0, f_cat_property_type_cave=0, f_cat_property_type_villa=0, f_cat_property_type_ryokan_japan=0, f_cat_property_type_car=0, f_cat_property_type_entire_floor=0, f_cat_property_type_other=0, f_cat_property_type_serviced_apartment=0, f_cat_property_type_treehouse=0, f_cat_property_type_inlaw=0, f_cat_property_type_nature_lodge=0, f_cat_property_type_dorm=0, f_cat_property_type_igloo=0, f_cat_property_type_condominium=0, f_cat_property_type_house=0, f_cat_property_type_chalet=0, f_cat_property_type_yurt=0, f_cat_property_type_tipi=0, f_cat_property_type_parking_space=0, f_cat_property_type_island=0, f_cat_property_type_tent=1, f_cat_property_type_train=0, f_cat_property_type_boat=0, f_cat_property_type_vacation_home=0, f_cat_property_type_20170402=0, f_cat_property_type_casa_particular=0, f_cat_property_type_bungalow=0, f_cat_property_type_plane=0, f_cat_property_type_cabin=0, f_cat_country_va=0, f_cat_country_cn=0, f_cat_country_fr=0, f_cat_country_gb=0, f_cat_country_ca=0, f_cat_country_it=0, f_cat_country_dk=0, f_cat_country_vu=0, f_cat_country_au=0, f_cat_country_uy=0, f_cat_country_nl=0, f_cat_country_at=0, f_cat_country_de=0, f_cat_country_hk=0, f_cat_country_gr=0, f_cat_country_ch=0, f_cat_country_us=0, f_cat_country_ie=0, f_cat_country_es=0, f_cat_country_be=0, f_cat_app_feature_host_has_profile_pic=1, f_cat_app_feature_host_identity_verified=1, f_cat_app_feature_instant_bookable=1, f_cat_app_feature_host_is_superhost=0, f_cat_app_feature_requires_license=0, f_cat_app_feature_require_guest_profile_picture=0, f_cat_app_feature_require_guest_phone_verification=0, f_cat_app_feature_is_location_exact=1, f_bias=1, f_host_for=0.12787761491346522, f_host_response_rate=0.7054643682715236, f_host_acceptance_rate=0.0, f_host_total_listings_count=-0.12204019472366576, f_num_of_ver=0.8776864423302896, f_host_listings_count=-0.12204029121680975, f_review_scores_rating=-1.5385497087809041, f_review_scores_accuracy=-1.2617725353932145, f_review_scores_cleanliness=-1.249271822210112, f_review_scores_checkin=-1.2848405958159148, f_review_scores_communication=-1.287761552655047, f_review_scores_location=-1.276484801342763, f_review_scores_value=-1.2680369919494374, f_reviews_per_month=-0.40107518084693516, f_number_of_reviews=-0.4833956714735107, f_accommodates=-0.7411556458324939, f_bathrooms=-0.14485446360251208, f_bedrooms=-0.7055945500509471, f_beds=-0.7793577239468455, f_guests_included=-0.228715979069243, f_cleaning_fee=-0.6095000025354893, f_square_feet=-0.04374474508131885, f_extra_people=-0.3818886909518649)

In [22]:
features_num = len(example.asDict()) - 1

In [23]:
features_num

219

In [24]:
import numpy as np
from functools import partial

#### Broadcasts & Accumulators

Обучать будем обычную линейную регрессию

In [25]:
def compute_gradient(weights_broadcast, loss, example):
    # достаем целевую переменную и признаки из наблюдения
    gradient = np.zeros(len(weights_broadcast.value))
    data = example.asDict()
    
    y = data['target']
    data.pop('target')

    # признаки сортируем по названию для того, чтобы позиции точно не разъезались
    x = np.array([v or 0 for k, v in sorted(data.items(), key=lambda x: x[0])])

    # делаем предсказание с текущими весами
    prediction = x.dot(weights_broadcast.value)

    # считаем градиент на объекте
    gradient = x * (prediction - y) * 2
    
    # считаем потери
    loss.add((prediction - y) ** 2)
    
    return gradient

In [26]:

# Параметры
epochs = 20
l2_lambda = 0.01
l1_lambda = 0.01

np.random.seed(42201)

# Изначальные веса инициализируем случайно
weights = np.random.random(features_num)

N = train.count()

# Цикл по эпохам
for i in range(epochs):
    weights_broadcast = sc.broadcast(weights)  # Эту переменную будет бродкастить на всех воркеров
    loss = sc.accumulator(0.0) # В эту переменную будет частичные лоссы на объектах
    
    # Считаем средний градиент
    gradient = (
        train
        .map(partial(compute_gradient, weights_broadcast, loss))
        .mean()
    )
    
    gradient += 2 * l2_lambda * weights  # L2 регуляризация
    gradient += l1_lambda * np.sign(weights) # L1 регуляризация
    
    learning_rate = 1 / (10 + i)
    
    weights -= learning_rate * gradient
    weights_broadcast.destroy()
    
    print("epoch:", i, "loss:", loss.value / N)

epoch: 0 loss: 39050.76561167529
epoch: 1 loss: 58635.00059953672
epoch: 2 loss: 87842.85564740805
epoch: 3 loss: 107631.84648126252
epoch: 4 loss: 102506.42292118471
epoch: 5 loss: 75564.15227470099
epoch: 6 loss: 45770.29601907248
epoch: 7 loss: 26332.00466094047
epoch: 8 loss: 18094.909810619843
epoch: 9 loss: 15650.381284590347
epoch: 10 loss: 15134.347868910017
epoch: 11 loss: 15016.615026575377
epoch: 12 loss: 14964.685466258139
epoch: 13 loss: 14923.609671540673
epoch: 14 loss: 14888.382114634098
epoch: 15 loss: 14857.464665680298
epoch: 16 loss: 14830.04404165144
epoch: 17 loss: 14805.491232427556
epoch: 18 loss: 14783.329652838325
epoch: 19 loss: 14763.187994003372

In [27]:
weights

array([ 2.13498808e+01,  9.99790051e+00,  1.76983052e+01,  1.20125372e+01,
        1.76447001e+01, -2.94708651e+00,  9.51532007e-01,  6.32847066e-01,
        2.60437351e-01,  6.83234316e+00,  9.22838270e-01,  5.12362716e-02,
        1.79449840e-01,  3.99086374e-01,  7.88091238e-01, -2.50470642e-05,
        3.93356898e-01,  5.02336515e-01, -2.30211639e+00,  6.42306244e+00,
        8.27720939e+00, -3.77762674e+00, -7.34182534e-01,  1.26219709e+00,
        8.20493428e-01,  7.89428339e-01,  9.25506129e-01,  9.16597603e-01,
        1.00629468e+00,  1.77254528e-01,  2.87292503e-01,  9.88629077e-01,
        1.01767545e+00,  1.72209863e-02,  2.52901199e+00, -7.23569698e-02,
        8.86850260e+00,  1.15715925e+00,  8.00017394e+00,  8.65537471e-01,
        2.50109087e-01,  8.90924026e-01,  1.15032919e+01,  1.30691557e+00,
        2.74303112e-01,  6.93149184e-01,  1.86223212e-01, -2.64808370e+00,
        8.79509952e-01,  5.39279115e+00,  4.19614413e-02,  8.37308530e-01,
        7.37299625e-01,  9.83842766e-01,  2.03465996e+00, -2.48647081e-01,
       -2.34933654e+00,  6.91941613e+00,  1.42382538e+00,  8.97450339e-01,
        1.90775319e+00,  1.01932744e+00,  3.62154641e+00,  3.35620099e+00,
        1.16037381e+00,  8.10444195e-01,  1.01638777e+01,  8.79035445e-02,
        1.23605690e+00, -2.01120091e+00, -7.55620708e-02,  2.94407492e-01,
        9.86089661e-01,  2.54104287e-01,  2.22123860e-01,  1.70221016e-01,
        1.05932040e+00,  1.62641602e-01,  4.50041283e-01,  1.44527126e-01,
        3.31282481e-01, -2.13194852e-01, -1.22031955e+00,  5.24921890e-01,
        2.93950964e+00,  1.67259846e-01,  1.77433216e+00,  3.29380489e-01,
        1.12728554e+00,  1.47096265e-01,  1.01577529e+00, -1.45621100e+00,
       -6.10559548e-01,  2.50925256e+00,  8.91150201e-01,  1.13441201e-01,
        1.62882609e-01,  7.66401025e+00, -4.68746608e+00,  9.88860297e-01,
        1.83364633e-01,  5.32835649e-01,  2.25287037e+00,  3.10268410e-01,
       -6.58543211e-02, -3.52217736e-01,  1.26275087e-02,  1.21672575e+01,
        1.41820301e+00,  8.94885692e-01,  2.87323286e-01,  6.85788875e-01,
        2.84544228e-01,  4.82551717e-01,  8.88820386e-01,  5.54308371e-01,
        7.15277124e-01,  1.10630209e+01,  1.73800439e+01,  5.15975678e+00,
        7.32034116e-01,  8.54928853e-02,  9.91832076e+00,  1.97263711e-01,
        1.33475844e-01, -4.86603085e+00,  8.94105189e-01,  4.87725790e-01,
        1.64391271e-01,  8.48454834e-01, -9.80341175e-02,  1.75909232e+01,
        6.80217034e-01,  1.67522378e-01,  3.45128587e-01,  7.58657875e-01,
        2.86780991e-01,  9.56880110e-01,  8.80181210e-01,  8.68975690e-02,
        4.00892289e-02,  3.67794641e-01,  3.67215575e-01,  6.23562522e-01,
        3.61152698e-01,  3.57502560e-02,  9.21759521e-01,  6.27718226e-02,
        2.00780843e-04,  8.65320272e-01,  3.69238060e-01,  4.64938405e-01,
        3.69482983e-02,  1.05235002e+01,  3.70761707e-01,  1.08376167e+00,
        4.21316264e-01,  3.50945856e-01,  4.50052076e-01,  4.98784190e-01,
        8.11661670e-01,  8.33059288e-01,  7.00412212e-01,  1.84250044e-01,
        5.86694159e-02,  9.77236853e-01,  4.34946808e-01,  8.52408994e-01,
        1.73638620e-01,  7.10741879e-02,  2.43381383e-01,  5.62001650e-01,
        2.78124201e-01,  5.20412711e+00,  2.61659686e-01,  6.81385296e-01,
        4.92717567e-01,  1.60996103e-01,  3.05016512e-01,  1.34412071e+00,
        5.88306619e-01,  4.24056815e-01,  1.87095824e-02,  6.33565991e-01,
        3.14766439e-01,  2.11404503e-01,  5.40429278e-01,  2.34542178e-01,
        8.78694710e-01,  6.13749830e-01,  3.44189085e-01,  4.27252737e-01,
        5.54700502e-01,  3.83825282e-01,  6.42855990e-01,  2.42623797e-01,
        8.93898297e-01,  4.27767041e-01,  8.43958938e-01,  2.99927084e-01,
        5.72164774e+01,  2.11583221e+01, -7.98706197e-01,  7.78127398e-01,
       -2.21572040e-01, -4.39202394e-01, -9.32281619e+00, -4.93712246e-01,
       -3.78693468e+00, -5.53113785e+00, -1.51456338e+00, -2.28031905e+00,
       -1.16722548e+00, -2.18459541e+00, -3.33253554e-01, -8.52129452e-01,
       -2.75794981e+00, -5.84578087e+00,  4.63822598e-01])

In [45]:
features_names = sorted(train.first().asDict().keys())
features_names.remove('target')

top_10_f = sorted(
    zip(weights.tolist(), features_names),
    key=lambda x: -abs(x[0])
)[:10]

In [47]:
import json

In [48]:
print(json.dumps(top_10_f, indent=2))

[
  [
    57.21647738622203,
    "f_cleaning_fee"
  ],
  [
    21.349880827617387,
    "f_accommodates"
  ],
  [
    21.158322069654044,
    "f_extra_people"
  ],
  [
    17.6983052347302,
    "f_bedrooms"
  ],
  [
    17.64470012058097,
    "f_bias"
  ],
  [
    17.590923198790946,
    "f_cat_bad_type_real_bed"
  ],
  [
    17.38004386910084,
    "f_cat_app_feature_host_has_profile_pic"
  ],
  [
    12.167257548196062,
    "f_cat_amenity_tv"
  ],
  [
    12.012537211780298,
    "f_beds"
  ],
  [
    11.503291944412933,
    "f_cat_amenity_familykid_friendly"
  ]
]

In [49]:
def calc_ss_res(weights_broadcast, example):
    # достаем целевую переменную и признаки из наблюдения
    gradient = np.zeros(len(weights_broadcast.value))
    data = example.asDict()
    
    y = data['target']
    data.pop('target')

    # признаки сортируем по названию для того, чтобы позиции точно не разъезались
    x = np.array([v or 0 for k, v in sorted(data.items(), key=lambda x: x[0])])

    # делаем предсказание с текущими весами
    prediction = x.dot(weights_broadcast.value)
    return (y - prediction) ** 2

In [50]:
weights_broadcast = sc.broadcast(weights)

y_avg = train.map(lambda x: x.target).mean()
ss_tot = train.map(lambda x: (x.target - y_avg) ** 2).sum()
ss_res = train.map(partial(calc_ss_res, weights_broadcast)).sum()

r2_score = 1 - ss_res / ss_tot
print(r2_score)

0.36023435565888606

In [51]:
weights_broadcast = sc.broadcast(weights)

y_avg = test.map(lambda x: x.target).mean()
ss_tot = test.map(lambda x: (x.target - y_avg) ** 2).sum()
ss_res = test.map(partial(calc_ss_res, weights_broadcast)).sum()

r2_score = 1 - ss_res / ss_tot
print(r2_score)

0.35992947703086775

In [53]:
weights_broadcast = sc.broadcast(weights)
rmse = train.map(partial(calc_ss_res, weights_broadcast)).mean() ** 0.5

print(rmse)

121.42800970659499

Это конечно не самый впечетляющий результат, но все таки уже что-то! Это сделанная собственными руками модель, которую мы можем обучить на произвольно большом датасете!

### Вы жжете бабло

<img src="https://grizzle.com/wp-content/uploads/2020/01/money-cash-fire-1200x900.png" width="300">

Напоминаю, выключайте ресурсы. Они жрут ваши деньги.